<div class="showcase-bottom">
  <!-- <a href="#" class="footer-title">Questions? Call</a> -->
  <div class="footer-row">
    <div class="footer-column">
      <p class="footer-logo"><img src="/imgs/_D-icon.jpg" style="width: 40px  ;"></img> ronacharyian
      </p>
      <p class="footer-discription">The best learning platform who is best known for offering for anyone who whishes to
        take professional life to
        the next level.</p>
      <div class="social">
        <img>
        <img>
        <img>

      </div>
    </div>
    <div class="footer-column">
      <p class="footer-column-title footer-link">Explore</p>
      <a href="#" class="footer-link">Courses</a>
      <a href="#" class="footer-link">Articles</a>
      <a href="#" class="footer-link">Sitemap</a>
      <a href="#" class="footer-link">FAQs</a>
    </div>
    <div class="footer-column">
      <p class="footer-column-title footer-link">About</p>
      <a href="#" class="footer-link">Privacy & Policy</a>
      <a href="#" class="footer-link">Terms & Conditions</a>
      <a href="#" class="footer-link">For Bussiness</a>
      <a href="#" class="footer-link">Support</a>
    </div>
    <div class="footer-column">
      <p class="footer-column-title footer-link">Community</p>
      <a href="#" class="footer-link">Refer a Friend</a>
      <a href="#" class="footer-link">Limited Memberships</a>
      <a href="#" class="footer-link">Scholarships</a>
      <a href="#" class="footer-link">Free Classes</a>
    </div>
    <div class="footer-column">
      <p class="footer-column-title footer-link">Download App</p>
      <a href="#" class="app-store  "><img src="/imgs/app-store.jpg" /></a>
    </div>
  </div>
  <!--  <hr class="footer-hr" /> -->
  <footer class="copyright">Copyright &copy; Dronacharyian 2021</footer>
</div>