<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dronacharyian</title>
  <link rel="shotcut icon" type="image/png" href="/imgs/logo2-edit.jpg" />
  <link rel="stylesheet" href="/style.css" />
</head>