<div>
  <nav>
    <div class="site-title">
      <a href="/">
        <h1 class="nav-logo"><img src="/imgs/_D-icon.jpg" /> ronacharyian</h1>
      </a>
    </div>
    <ul class="nav-mid">
      <li><a href="/">Home</a></li>
      <li><a href="/">Courses</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <ul class="nav-left">
      <li class="login-register-btn"><a href="/sign">Login / Sign Up</a></li>
    </ul>
  </nav>
</div>