<div>
  <nav>
    <div class="site-title">
      <h1 class="nav-logo"><img src="/imgs/_D-icon.jpg" /> ronacharyian</h1>
    </div>
    <ul class="nav-mid">
      <li><a href="/userhomepage">Home</a></li>
      <li><a href="/coursePage">Courses</a></li>
      <li><a href="/tasks">Manage Tasks</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
    <ul class="nav-left">
      <% if (user) { %>
        <li class="user-email">
          <%-user.email %>
        </li>
        <% } %>
          <li class="login-register-btn"><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</div>