<!DOCTYPE html>
<html lang="en">

<%- include('../partials/headeruser.ejs') %>
  <link rel="stylesheet" href="/course-style.css" />

  <body>
    <%- include('../partials/navUser.ejs') %>
      <div class="cards courses">
        <h2 class="cards-heading">Most popular courses</h2>
        <ul class="cards-list posts-list">
          <li class="card courses-card"><a href="#computing-and-it">
              <div class="card-thumb card-image"
                style="background-image: url(&quot;https://firebasestorage.googleapis.com/v0/b/hypatia-8d923.appspot.com/o/files%2Fcomputing-it.jpg?alt=media&amp;token=fc4dbb8b-8154-4980-a288-98a8deaa24cc&quot;);">
              </div>
            </a>
            <div class="card-wrapper clearfix">
              <h3 class="card-title"><a href="#computing-and-it">Computing and IT</a></h3>
              <div class="card-meta">
                <p><svg class="icon">
                    <use xlink:href="#calendar2_14802eb6516765dd6e98615aa188f05a"></use>
                  </svg><!-- react-text: 885 -->Starts
                  <!-- /react-text --><span class="card-date">1/1/2017</span><span><svg class="icon">
                      <use xlink:href="#course_17d4f5ca5711ffc63fef750843e7738f"></use>
                    </svg><!-- react-text: 890 -->BSc
                    <!-- /react-text -->
                  </span>
                </p>
              </div>
              <div class="card-content">
                <p>Computing and IT skills have become fundamental to the way we live, work, socialise and play. This
                  degree
                  course opens up the world of technology and an array of exciting career opportunities. It will help
                  you
                  to
                  become a confident user and manager of information technologies; to administer and manage network or
                  database systems; and to develop new software solutions to meet specific market or organisational
                  needs.
                </p>
                <p>Key features of the course</p>
                <ul>
                  <li>A flexible degree with a choice of routes</li>
                  <li>Focus on computer science, digital technologies, software development, web development, or
                    networking
                  </li>
                  <li>Increase your employability in a wide range of sectors, including finance, government, health,
                    education, the voluntary sector, business, gaming and commerce</li>
                </ul>
              </div>
              <div class="card-info"><span class="card-enrolled"><svg class="icon">
                    <use xlink:href="#users_156527d547daaf6854bd7232c4d953bc"></use>
                  </svg><!-- react-text: 896 -->1.5K enrolled
                  <!-- /react-text -->
                </span><!-- react-text: 897 -->
                <!-- /react-text -->
              </div>
            </div>
          </li>
          <li class="card courses-card"><a href="#business-management-accounting">
              <div class="card-thumb card-image"
                style="background-image: url(&quot;https://firebasestorage.googleapis.com/v0/b/hypatia-8d923.appspot.com/o/files%2Fbusiness-management.jpeg?alt=media&amp;token=968ac992-5ea6-4724-87ec-476d5610992e&quot;);">
              </div>
            </a>
            <div class="card-wrapper clearfix">
              <h3 class="card-title"><a href="#business-management-accounting">Business Management
                  (Accounting)</a>
              </h3>
              <div class="card-meta">
                <p><svg class="icon">
                    <use xlink:href="#calendar2_14802eb6516765dd6e98615aa188f05a"></use>
                  </svg><!-- react-text: 908 -->Starts
                  <!-- /react-text --><span class="card-date">1/1/2017</span><span><svg class="icon">
                      <use xlink:href="#course_17d4f5ca5711ffc63fef750843e7738f"></use>
                    </svg><!-- react-text: 913 -->PD
                    <!-- /react-text -->
                  </span>
                </p>
              </div>
              <div class="card-content">
                <p>What roles do accountants play in organisations? What kinds of information do they work with and how
                  does
                  their work and the information they produce influence the daily decisions and activities of an
                  organisation?
                  In this specialist route available in our BA (Honours) Business Management degree, you will develop an
                  interdisciplinary perspective on the management of business organisations and build specialised
                  knowledge
                  and skills in financial and management accounting. You will be equipped with the necessary skills to
                  use
                  and
                  apply accounting techniques and concepts in the workplace, and receive accreditation by professional
                  accounting bodies for some parts of their qualifications.</p>
                <p>Key features of the course</p>
                <ul>
                  <li>Develops your understanding of business organisations and their key elements</li>
                  <li>Develops your ability to apply and evaluate financial and management accounting techniques and
                    concepts
                  </li>
                  <li>Helps you relate your studies to your own experience</li>
                  <li>Equips you for a wide range of employment opportunities across all sectors</li>
                </ul>
              </div>
              <div class="card-info"><span class="card-enrolled"><svg class="icon">
                    <use xlink:href="#users_156527d547daaf6854bd7232c4d953bc"></use>
                  </svg><!-- react-text: 919 -->1.5K enrolled
                  <!-- /react-text -->
                </span><!-- react-text: 920 -->
                <!-- /react-text -->
              </div>
            </div>
          </li>
          <li class="card courses-card"><a href="#arts-and-humanities">
              <div class="card-thumb card-image"
                style="background-image: url(&quot;https://firebasestorage.googleapis.com/v0/b/hypatia-8d923.appspot.com/o/files%2Farts-humanities.jpg?alt=media&amp;token=22ea2556-aa0f-4b03-860b-17f8f96087bf&quot;);">
              </div>
            </a>
            <div class="card-wrapper clearfix">
              <h3 class="card-title"><a href="#arts-and-humanities">Arts and Humanities</a></h3>
              <div class="card-meta">
                <p><svg class="icon">
                    <use xlink:href="#calendar2_14802eb6516765dd6e98615aa188f05a"></use>
                  </svg><!-- react-text: 931 -->Starts
                  <!-- /react-text --><span class="card-date">20/9/2017</span><span><svg class="icon">
                      <use xlink:href="#course_17d4f5ca5711ffc63fef750843e7738f"></use>
                    </svg><!-- react-text: 936 -->MA
                    <!-- /react-text -->
                  </span>
                </p>
              </div>
              <div class="card-content">
                <p>From poetry to string quartets, and from sculpture to short stories, the extraordinary range of human
                  culture offers rich possibilities for study. This broad and absorbing course develops a deep
                  understanding
                  of the world we live in and how we got here, covering a fascinating variety of perspectives, periods
                  and
                  subjects – including art history, classical studies, creative writing, English language and English
                  literature, history, modern languages, music, philosophy and religious studies.</p>
                <p>Key features of the course</p>
                <ul>
                  <li>Study a broad range of subjects with the option to specialise in one or two disciplines. </li>
                  <li>Learn how to approach the arts from an academic perspective, construct an argument and communicate
                    your
                    ideas effectively </li>
                  <li>Have the opportunity to develop a project based on independent study </li>
                </ul>
              </div>
              <div class="card-info"><span class="card-enrolled"><svg class="icon">
                    <use xlink:href="#users_156527d547daaf6854bd7232c4d953bc"></use>
                  </svg><!-- react-text: 942 -->1.5K enrolled
                  <!-- /react-text -->
                </span><!-- react-text: 943 -->
                <!-- /react-text -->
              </div>
            </div>
          </li>
          <li class="card courses-card"><a href="#design-and-innovation">
              <div class="card-thumb card-image"
                style="background-image: url(&quot;https://firebasestorage.googleapis.com/v0/b/hypatia-8d923.appspot.com/o/files%2Fdesign-innovation.jpg?alt=media&amp;token=a4aa0b25-ce78-4279-9f78-a78f31b6d202&quot;);">
              </div>
            </a>
            <div class="card-wrapper clearfix">
              <h3 class="card-title"><a href="#design-and-innovation">Design and Innovation</a></h3>
              <div class="card-meta">
                <p><svg class="icon">
                    <use xlink:href="#calendar2_14802eb6516765dd6e98615aa188f05a"></use>
                  </svg><!-- react-text: 954 -->Starts
                  <!-- /react-text --><span class="card-date">15/8/2017</span><span><svg class="icon">
                      <use xlink:href="#course_17d4f5ca5711ffc63fef750843e7738f"></use>
                    </svg><!-- react-text: 959 -->BDHons
                    <!-- /react-text -->
                  </span>
                </p>
              </div>
              <div class="card-content">
                <p>Design and innovation have a huge impact on society well beyond the creative industries – finding
                  solutions
                  to problems that affect every aspect of our lives. This ground-breaking course features online design
                  studios, social networking, and inspiring study materials, and each module has a significant practical
                  component. Alongside design and innovation you will study a complementary subject – choosing from
                  arts,
                  business, engineering or environment – to gain knowledge and skills that will be useful in a wide
                  range
                  of
                  careers.</p>
                <p>Key features of the course</p>
                <ul>
                  <li>Focus on the process of design, working with and for others, and applying design and innovation in
                    real-world contexts</li>
                  <li>Put your learning into practice as you study</li>
                  <li>Build a highly relevant portfolio of design work</li>
                </ul>
              </div>
              <div class="card-info"><span class="card-enrolled"><svg class="icon">
                    <use xlink:href="#users_156527d547daaf6854bd7232c4d953bc"></use>
                  </svg><!-- react-text: 965 -->1.5K enrolled
                  <!-- /react-text -->
                </span><!-- react-text: 966 -->
                <!-- /react-text -->
              </div>
            </div>
          </li>
          <li class="card courses-card"><a href="#english-literature">
              <div class="card-thumb card-image"
                style="background-image: url(&quot;https://firebasestorage.googleapis.com/v0/b/hypatia-8d923.appspot.com/o/files%2Fenglish-literature.jpg?alt=media&amp;token=286c8709-a202-416f-b4d1-c0075620d191&quot;);">
              </div>
            </a>
            <div class="card-wrapper clearfix">
              <h3 class="card-title"><a href="#english-literature">English Literature</a></h3>
              <div class="card-meta">
                <p><svg class="icon">
                    <use xlink:href="#calendar2_14802eb6516765dd6e98615aa188f05a"></use>
                  </svg><!-- react-text: 977 -->Starts
                  <!-- /react-text --><span class="card-date">11/1/2017</span><span><svg class="icon">
                      <use xlink:href="#course_17d4f5ca5711ffc63fef750843e7738f"></use>
                    </svg><!-- react-text: 982 -->FD
                    <!-- /react-text -->
                  </span>
                </p>
              </div>
              <div class="card-content">
                <p>If you are interested in reading between the lines, and being challenged by new ideas and ways of
                  seeing,
                  then this course is for you. English literature is a broad, accessible and important subject. On this
                  course
                  you will study a range of texts dating from around 1570 to the present, from poetry to fiction to
                  film,
                  and
                  discover a variety of approaches for reading them. You will develop your skills of analysis and
                  communication, enabling you to take a fresh look at familiar texts, and to encounter new texts and
                  ideas
                  with confidence.</p>
                <p>Key features of the course</p>
                <ul>
                  <li>Learn how to analyse a wide range of texts including fiction, poetry and drama</li>
                  <li>Explore the work of some famous authors alongside some lesser known - but equally fascinating -
                    writers
                  </li>
                  <li>Choose options in Creative writing or English language </li>
                  <li>Develop advanced skills in analysis, evaluation and communication that are highly valued in the
                    workplace. </li>
                </ul>
              </div>
              <div class="card-info"><span class="card-enrolled"><svg class="icon">
                    <use xlink:href="#users_156527d547daaf6854bd7232c4d953bc"></use>
                  </svg><!-- react-text: 988 -->1.5K enrolled
                  <!-- /react-text -->
                </span><!-- react-text: 989 -->
                <!-- /react-text -->
              </div>
            </div>
          </li>
          <li class="card courses-card"><a href="#health-and-social-care">
              <div class="card-thumb card-image"
                style="background-image: url(&quot;https://firebasestorage.googleapis.com/v0/b/hypatia-8d923.appspot.com/o/files%2Fhealth-care.jpg?alt=media&amp;token=20f3bf93-1c92-4004-afa3-0250c054628f&quot;);">
              </div>
            </a>
            <div class="card-wrapper clearfix">
              <h3 class="card-title"><a href="#health-and-social-care">Health and Social Care</a></h3>
              <div class="card-meta">
                <p><svg class="icon">
                    <use xlink:href="#calendar2_14802eb6516765dd6e98615aa188f05a"></use>
                  </svg><!-- react-text: 1000 -->Starts
                  <!-- /react-text --><span class="card-date">11/1/2017</span><span><svg class="icon">
                      <use xlink:href="#course_17d4f5ca5711ffc63fef750843e7738f"></use>
                    </svg><!-- react-text: 1005 -->HND
                    <!-- /react-text -->
                  </span>
                </p>
              </div>
              <div class="card-content">
                <p>In today's fast-changing care sector, professionals at all levels need to be proactive and flexible
                  to
                  succeed. This degree provides a sound and critical understanding of health and social care policy,
                  theory
                  and practice, and the skills you need for effective practice in a diverse, multidisciplinary
                  environment.
                  You’ll also understand how ethical, legal, social, economic and political factors influence the
                  provision
                  and development of services; and gain the critical and analytical skills that underpin evidence-based
                  practice.</p>
                <p>Key features of the course</p>
                <ul>
                  <li>A choice of four routes: Health and wellbeing; Older adults; Mental health; or Work with children,
                    young
                    people and families</li>
                  <li>Helps you to develop as an independent and reflective learner </li>
                  <li>Explores the context and processes of change and new ways of working across agencies and
                    professional
                    boundaries.</li>
                </ul>
              </div>
              <div class="card-info"><span class="card-enrolled"><svg class="icon">
                    <use xlink:href="#users_156527d547daaf6854bd7232c4d953bc"></use>
                  </svg><!-- react-text: 1011 -->1.5K enrolled
                  <!-- /react-text -->
                </span><!-- react-text: 1012 -->
                <!-- /react-text -->
              </div>
            </div>
          </li>
          <li class="card courses-card"><a href="#modern-react-with-redux">
              <div class="card-thumb card-image"
                style="background-image: url(&quot;https://firebasestorage.googleapis.com/v0/b/hypatia-8d923.appspot.com/o/files%2Freact-redux.png?alt=media&amp;token=61d05fa6-0225-4da2-86e9-37c5a820a95b&quot;);">
              </div>
            </a>
            <div class="card-wrapper clearfix">
              <h3 class="card-title"><a href="#modern-react-with-redux">Modern React with Redux</a></h3>
              <div class="card-meta">
                <p><svg class="icon">
                    <use xlink:href="#calendar2_14802eb6516765dd6e98615aa188f05a"></use>
                  </svg><!-- react-text: 1023 -->Starts
                  <!-- /react-text --><span class="card-date">anytime</span><span><svg class="icon">
                      <use xlink:href="#course_17d4f5ca5711ffc63fef750843e7738f"></use>
                    </svg><!-- react-text: 1028 -->Course
                    <!-- /react-text -->
                  </span>
                </p>
              </div>
              <div class="card-content">
                <p>Mastering React and Redux can get you a position in web development or help you build that personal
                  project
                  you've been dreaming of. It's a skill that will put you more in demand in the modern web development
                  industry, especially with the release of Redux and ReactNative.</p>
                <p>This course will get you up and running quickly, and teach you the core knowledge you need to deeply
                  understand and build React components and structure applications with Redux.</p>
                <p>We'll start by mastering the fundamentals of React, including JSX, “props", “state", and eventing.
                  Source
                  code is provided for each lecture, so you will always stay up-to-date with the course pacing. After an
                  introduction to React, we'll dive right in to Redux, covering topics like reducers, actions, and the
                  state
                  tree.</p>
              </div>
              <div class="card-info"><span class="card-enrolled"><svg class="icon">
                    <use xlink:href="#users_156527d547daaf6854bd7232c4d953bc"></use>
                  </svg><!-- react-text: 1034 -->1.5K enrolled
                  <!-- /react-text -->
                </span><span class="card-price">
                  <!-- react-text: 1036 -->240
                  <!-- /react-text -->
                  <!-- react-text: 1037 -->€
                  <!-- /react-text -->
                </span></div>
            </div>
          </li>
          <li class="card courses-card"><a href="#javascript-understanding-the-weird-parts">
              <div class="card-thumb card-image"
                style="background-image: url(&quot;https://firebasestorage.googleapis.com/v0/b/hypatia-8d923.appspot.com/o/files%2Fjavascript.png?alt=media&amp;token=243308aa-c718-47c6-b176-951cee9037d0&quot;);">
              </div>
            </a>
            <div class="card-wrapper clearfix">
              <h3 class="card-title"><a href="#javascript-understanding-the-weird-parts">JavaScript:
                  Understanding
                  the
                  Weird Parts</a></h3>
              <div class="card-meta">
                <p><svg class="icon">
                    <use xlink:href="#calendar2_14802eb6516765dd6e98615aa188f05a"></use>
                  </svg><!-- react-text: 1048 -->Starts
                  <!-- /react-text --><span class="card-date">anytime</span><span><svg class="icon">
                      <use xlink:href="#course_17d4f5ca5711ffc63fef750843e7738f"></use>
                    </svg><!-- react-text: 1053 -->Course
                    <!-- /react-text -->
                  </span>
                </p>
              </div>
              <div class="card-content">
                <p>Javascript is the language that modern developers need to know, and know well. Truly knowing
                  Javascript
                  will get you a job, and enable you to build quality web and server applications.</p>
                <p>NOTE: This course includes information on ECMAScript 6 (ES6) the next version of Javascript!</p>
                <p>In this course you will gain a deep understanding of Javascript, learn how Javascript works under the
                  hood,
                  and how that knowledge helps you avoid common pitfalls and drastically improve your ability to debug
                  problems. You will find clarity in the parts that others, even experienced coders, may find weird,
                  odd,
                  and
                  at times incomprehensible. You'll learn the beauty and deceptive power of this language that is at the
                  forefront of modern software development today.</p>
                <p>This course will cover such advanced concepts as objects and object literals, function expressions,
                  prototypical inheritance, functional programming, scope chains, function constructors (plus new ES6
                  features), immediately invoked function expressions (IIFEs), call, apply, bind, and more.</p>
                <p>We'll take a deep dive into the source code of popular frameworks such as jQuery and Underscore to
                  see
                  how
                  you can use your understanding of Javascript to learn (and borrow) from other's good code.</p>
                <p>Finally, you'll learn the foundations of how to build your own Javascript framework or library.</p>
                <p>What you'll learn in this course will make you a better Javascript developer, and improve your
                  abilities in
                  AngularJS, NodeJS, jQuery, React, Ember, MongoDB, and all other Javascript-based technologies!</p>
                <p>Learn to love Javascript, and code in it well.</p>
                <p>Note: In this course you'll also get downloadable source code. You will often be provided with
                  'starter'
                  code, giving you the base for you to start writing your code, and 'finished' code to compare your code
                  to.
                </p>
              </div>
              <div class="card-info"><span class="card-enrolled"><svg class="icon">
                    <use xlink:href="#users_156527d547daaf6854bd7232c4d953bc"></use>
                  </svg><!-- react-text: 1059 -->1.5K enrolled
                  <!-- /react-text -->
                </span><span class="card-price">
                  <!-- react-text: 1061 -->90
                  <!-- /react-text -->
                  <!-- react-text: 1062 -->€
                  <!-- /react-text -->
                </span></div>
            </div>
          </li>
        </ul>
      </div>
      <%- include('../partials/footer.ejs') %>
  </body>

</html>