/* Task specific styles */
.content {
  margin: 40px 24px;
}

h2 {
  margin-bottom: 40px;
}

h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}

.content {
  margin-left: 20px;
}

/* index styles */
.tasks a {
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  border-left: 6px solid rgb(20, 23, 220);
}

.tasks a:hover h3 {
  color: rgb(20, 23, 220);
}

.status {
  padding: 5px;
  border-radius: 15px;
  color: white;
  padding: 8px;
  border: 0;
}

.com {
  background-color: rgb(30, 194, 30);
  width: 100px;
}

.inc {
  background-color: rgb(230, 35, 35);
  width: 100px;
}

/* details styles */
.details {
  position: relative;
  display: flex;
}

.content-wrapper {
  border: black;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.content p {
  width: 250px;
}

.description {
  display: flex;
}

.edit {
  color: white;
  display: flex;
  padding: 5px;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.update {
  /* position: absolute; */
  top: 0;
  right: 0;
  border-radius: 15px;
  padding: 8px;
  background-color: rgb(30, 194, 30);
  color: white;
}

.update:hover {
  cursor: pointer;
  background-color: rgb(54, 212, 33);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.delete {
  /*  position: absolute; */
  top: 0;
  border-radius: 50%;
  padding: 8px;
  background-color: rgba(223, 29, 29, 0.835);
  color: white;
}

.delete:hover {
  cursor: pointer;
  background-color: rgb(246, 19, 19);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

/* create styles */
.add-task form {
  max-width: 400px;
  margin: 0 auto;
}

.add-task input,
.add-task textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.add-task label {
  display: block;
  margin-top: 24px;
}

textarea {
  height: 120px;
}

.add-task button {
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}