<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>

  <body>


    </div>
    <%- include('../partials/nav.ejs') %>

      <h1>Welcome to Dronacharyian</h1>

      <section class="main-content">
        <h3><a id="what-is-Dronacharyian" class="anchor" href="#what-is-Dronacharyian" aria-hidden="true"><span
              aria-hidden="true" class="octicon octicon-link"></span></a>What is Dronacharyian?</h3>

        <p><strong>Dronacharyian is a FREE, realtime, open source LMS (Learning Management System) focussed in UX and
            remote
            coworking. It uses cutting-edge technologies from Facebook and Google and you can use it to build your
            online
            school, academy or university.</strong></p>

        <div class="video-container">
          <!--  <iframe width="560" height="315" src="https://www.youtube.com/embed/YlZpcrvJcbs" frameborder="0"
            allowfullscreen=""></iframe> -->
        </div>

        <p>Dronacharyian aims at solving the issues that current open source LMSs have, like bad and slow UX, old and
          cluttered
          designs and unresponsive layouts. The way these issues will be solved is by using the most advanced web
          technologies, like the shadow DOM for fast rendering, web sockets for realtime communication, JSON for
          standardised
          and formatted data, integration with 3rd party APIs and the latest HTML5, CSS3 and JavaScript features to
          build a
          functional and beautiful UI following the best practices.</p>
        <p>Dronacharyian is designed with universities and academies in mind. There's no size limit. It can be used for
          small
          academies (5 - 100 students) and for big universities (1K - 100K). The system will be scalable, allowing
          modules to
          be enabled/disabled based on the requirements of the organisation.</p>
        <p>The project will be monetised by offering a freemium scheme. The premium version will include a maintenance
          fee to
          implement upgrades and custom/premium plugins.</p>
        <p>The ultimate target of this project is to offer a solution to the open source community that replicates in
          the LMS
          World the pleasant experience built and developed by the Wordpress community. Flexible enough to suit the
          needs of
          the majority of educational projects by being scalable, easy to use/learn and opened to be used, modified and
          improved.</p>
        <p>Hopefully, Dronacharyian will enable people around the world to make education more accessible and enjoyable,
          especially
          for those who live in developing countries.</p>

        <h3><a id="who-can-use-it" class="anchor" href="#who-can-use-it" aria-hidden="true"><span aria-hidden="true"
              class="octicon octicon-link"></span></a>Context and project justification</h3>

        <div class="video-container">
          <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/s1wFLIJmVR0" frameborder="0"
            allowfullscreen=""></iframe> -->
        </div>

        <p>The reason why I chose to build a Learning Management System is because I keep seeing how things could be
          done
          better in many e-learning related websites. I particularly have a lot of things to say regarding the way
          students
          interact with each other and with the teacher. The current systems do not provide an agile communication. The
          interactive experience feels slow, with server related errors appearing often, annoying popup windows,
          cluttered UI
          with non-relevant data...</p>

        <p>This problem is highly relevant, as online education is becoming more and more popular, especially in
          developed
          countries, where society is used to interact with computers in a daily basis. Not having an updated and well
          taken
          care of e-learning ecosystem, makes people’s lives more difficult, as they have to balance a highly productive
          job
          and personal environments with slow and unpleasant online learning experiences.</p>

        <p>Having e-learning websites that don’t keep up with the rest of the web evolutions, makes the educational
          experience
          less enjoyable, which, in some cases, can make students give up their courses or entrepreneurs fail with their
          ventures.</p>

        <p>To fix this situation, we need to improve the offer out there. Make the e-learning software community vibrant
          and
          competitive. That’s the reason I want to build a platform inspired on successful and modern realtime products,
          like
          Slack, Trello or Google Docs and integrate them in a rich, full-flavored and exciting e-learning platform.</p>

        <p>There are other LMS already in the market with APIs and modern stacks, like Moodle (23% of market share),
          Canvas
          LMS, Blackboard (41% of market share), Matrix, D2L, Kaanu, etc. Unfortunately, they don’t offer good UX or
          they
          don’t make it easy for individuals to gain access to their software and/or modify it to offer a more
          customised
          experience for their students.</p>

        <h3><a id="objectives" class="anchor" href="#objectives" aria-hidden="true"><span aria-hidden="true"
              class="octicon octicon-link"></span></a>Objectives</h3>

        <ul>
          <li>The most important goal is to offer a full-stack application to the open source community that enables
            developers and entrepreneurs to create their own e-learning sites</li></br>
          <li>The back-end will be driven by Google’s Firebase platform, which will simplify the infrastructure
            maintenance
            and scalability, making it easy for developers to start and deploy their apps</li></br>

          <li>The front-end will be initially built using Facebook’s React framework, although in a future, it can be
            ported
            to React Native to take advantage of the native Android and iOS features</li></br>

          <li>The second most important goal is to create a very polished UX by creating a well curated information
            architecture, easy to follow journeys and have as many user testing revisions as possible</li></br>

          <li>The simplicity of the navigation and the prioritisation of content is key. Only the most relevant content
            for a
            given section will be displayed. This will ensure that the UI remains uncluttered</li></br>

          <li>The application will implement as many real time features as possible, allowing users to be notified and
            to
            communicate with other users in an agile manner. No more old style forums, emails or other slow and
            cluttered
            systems to talk to each other or get updates from the system</li></br>

          <li>Include multi-language support, social user authentication and analytics</li></br>

          <li>Allow users to create themes for the UI. This will help other users with less web development experience
            to take
            advantage of the community to improve the look &amp; feel of their e-learning sites</li></br>

          <li>Implement a basic admin area to allow teachers/admins edit the courses/subjects’ contents, calendars,
            users,
            payments, etc</li></br>

          <li>The essential journey should allow a user to signup/login, read about the available courses/subjects, join
            a
            course/subject (with or without paying), read/download the resources, interact with the classmates and
            teacher,
            read/download the assignments and watch the calendar</li></br>

          <li>Phase II: create a set of templates and guidelines to allow developers create plugins to enhance the
            functionality of the platform. These plugins could be new features, like the ability to solve quizzes or
            integrations of 3rd party services like Paypal, Stripe, Google Docs, Flickr, Dropbox, Slack, Trello, etc
          </li></br>
        </ul>

        <h3><a id="when-will-it-be-ready" class="anchor" href="#when-will-it-be-ready" aria-hidden="true"><span
              aria-hidden="true" class="octicon octicon-link"></span></a>When will it be ready?</h3>

        <p>Dronacharyian was born as a university graduation project in September 2021. Planning, design and development
          took
          place
          during the following months until February 2022, when the alpha version is expected. A few months after that,
          I
          should
          have a beta version ready and perhaps around December 2022 we could have a RC version. Stay tuned!</p>

        <h3>
          <a id="contribute-or-contact" class="anchor" href="#contribute-or-contact" aria-hidden="true"><span
              aria-hidden="true" class="octicon octicon-link"></span></a>Contribute or Contact
        </h3>

        <p>The initial part of the project (until the alpha version) is closed for contributions, as it's a university
          personal project that needs to be developed individually and then reviewed by the university board. After
          that, the
          project will be opened to contributions. If you have any question please contact me at
          <b>gjnvrgp@gmail.com</b>
        </p>
        </p>
      </section>

      <%- include('../partials/footer.ejs') %>
  </body>

</html>