<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>

  <body>
    <%- include('../partials/nav.ejs') %>




      <h1>Welcome to Dronacharyian</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis corrupti quis cumque, alias aliquam illo.
        Voluptatum, dolorem dolorum non, saepe illum voluptatibus necessitatibus, reprehenderit asperiores recusandae
        cupiditate commodi beatae laboriosam ipsa soluta fugit eveniet accusantium neque perferendis voluptatem
        reiciendis libero? Fuga expedita facilis consectetur placeat, iste beatae, dolorum excepturi blanditiis
        necessitatibus sit animi voluptatum magnam, autem eos quos ab at. Voluptate maiores quod perferendis neque
        autem, aspernatur porro pariatur nemo adipisci fugiat, ratione nisi recusandae sequi ex cum molestiae
        consectetur animi laudantium eligendi similique asperiores illum laboriosam quibusdam. Atque qui iste neque quo
        maiores corrupti esse facere ea magni eum.</p>
        <br><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis corrupti quis cumque, alias aliquam illo.
        Voluptatum, dolorem dolorum non, saepe illum voluptatibus necessitatibus, reprehenderit asperiores recusandae
        cupiditate commodi beatae laboriosam ipsa soluta fugit eveniet accusantium neque perferendis voluptatem
        reiciendis libero? Fuga expedita facilis consectetur placeat, iste beatae, dolorum excepturi blanditiis
        necessitatibus sit animi voluptatum magnam, autem eos quos ab at. Voluptate maiores quod perferendis neque
        autem, aspernatur porro pariatur nemo adipisci fugiat, ratione nisi recusandae sequi ex cum molestiae
        consectetur animi laudantium eligendi similique asperiores illum laboriosam quibusdam. Atque qui iste neque quo
        maiores corrupti esse facere ea magni eum.</p>
        <br><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis corrupti quis cumque, alias aliquam illo.
        Voluptatum, dolorem dolorum non, saepe illum voluptatibus necessitatibus, reprehenderit asperiores recusandae
        cupiditate commodi beatae laboriosam ipsa soluta fugit eveniet accusantium neque perferendis voluptatem
        reiciendis libero? Fuga expedita facilis consectetur placeat, iste beatae, dolorum excepturi blanditiis
        necessitatibus sit animi voluptatum magnam, autem eos quos ab at. Voluptate maiores quod perferendis neque
        autem, aspernatur porro pariatur nemo adipisci fugiat, ratione nisi recusandae sequi ex cum molestiae
        consectetur animi laudantium eligendi similique asperiores illum laboriosam quibusdam. Atque qui iste neque quo
        maiores corrupti esse facere ea magni eum.</p>
        <br><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis corrupti quis cumque, alias aliquam illo.
        Voluptatum, dolorem dolorum non, saepe illum voluptatibus necessitatibus, reprehenderit asperiores recusandae
        cupiditate commodi beatae laboriosam ipsa soluta fugit eveniet accusantium neque perferendis voluptatem
        reiciendis libero? Fuga expedita facilis consectetur placeat, iste beatae, dolorum excepturi blanditiis
        necessitatibus sit animi voluptatum magnam, autem eos quos ab at. Voluptate maiores quod perferendis neque
        autem, aspernatur porro pariatur nemo adipisci fugiat, ratione nisi recusandae sequi ex cum molestiae
        consectetur animi laudantium eligendi similique asperiores illum laboriosam quibusdam. Atque qui iste neque quo
        maiores corrupti esse facere ea magni eum.</p>


      <%- include('../partials/footer.ejs') %>
  </body>

</html>