<nav>
  <div class="site-title">
    <a href="/">
      <h1>Mini Task Manager</h1>
    </a>
    <p>Manage all your tasks here</p>
  </div>
  <ul>
    <li><a href="/">Tasks</a></li>
    <li><a href="/tasks/add">Add Task</a></li>
    <li><a href="/tasks">About</a></li>
  </ul>
</nav>